@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #132A13,
  $secondary: #d8eee5,
  $surface: #fff,
  $background: #d8eee5,
  $error: color-palette.$red-900,
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #ff8e6a;
}
a:visited {
  color: color.scale(#ff8e6a, $lightness: -35%);
}
a:hover {
  color: color.scale(#ffffff, $lightness: -25%);
}
