packages/regain-app/public/video/27[[:space:]]-[[:space:]]Finger[[:space:]]Strength[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/28[[:space:]]-[[:space:]]Waiter-Cup[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/04[[:space:]]-[[:space:]]Shoulder[[:space:]]Rolls[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/13[[:space:]]-[[:space:]]Setaed[[:space:]]Forward[[:space:]]Bend[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/15[[:space:]]-[[:space:]]Ankle[[:space:]]Rotation[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/21[[:space:]]-[[:space:]]Hand[[:space:]]and[[:space:]]Wrist[[:space:]]Stretch[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/10[[:space:]]-[[:space:]]Captain_s[[:space:]]Chair[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/17[[:space:]]-[[:space:]]Sit[[:space:]]to[[:space:]]Stand[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/25[[:space:]]-[[:space:]]Ball[[:space:]]Roll[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/32[[:space:]]-[[:space:]]Tummy[[:space:]]Twists[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/18[[:space:]]-[[:space:]]Heel[[:space:]]and[[:space:]]Toe[[:space:]]Raises[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/20[[:space:]]-[[:space:]]Arm[[:space:]]to[[:space:]]Side[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/01[[:space:]]-[[:space:]]Neck[[:space:]]Stretch[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/12[[:space:]]-[[:space:]][[:space:]]Modified[[:space:]]Leg[[:space:]]Lifts[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/16[[:space:]]-[[:space:]]Seated[[:space:]]Hip[[:space:]]Marches[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/19[[:space:]]-[[:space:]]Arm[[:space:]]to[[:space:]]Front[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/03[[:space:]]-[[:space:]]Seated[[:space:]]Row[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/06[[:space:]]-[[:space:]]Seated[[:space:]]Jumping[[:space:]]Jacks[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/22[[:space:]]-[[:space:]]Wrist[[:space:]]Stretch[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/26[[:space:]]-[[:space:]]Finger[[:space:]]Power[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/05[[:space:]]-[[:space:]]Shoulder[[:space:]]Shrugs[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/11[[:space:]]-[[:space:]]Knee[[:space:]]Lifts[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/14[[:space:]]-[[:space:]]Knee[[:space:]]to[[:space:]]Chest[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/23[[:space:]]-[[:space:]]Elbow[[:space:]]Stretch[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/31[[:space:]]-[[:space:]]Single[[:space:]]Limb[[:space:]]Stance[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/07[[:space:]]-[[:space:]]Toe[[:space:]]Taps[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/08[[:space:]]-[[:space:]]Toe[[:space:]]Taps[[:space:]]Variation[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/29[[:space:]]-[[:space:]]Fingertip[[:space:]]to[[:space:]]Plam[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/30[[:space:]]-[[:space:]]Laundry[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/02[[:space:]]-[[:space:]]Shoulder[[:space:]]Circles[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/09[[:space:]]-[[:space:]]Heel[[:space:]]Slides[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/24[[:space:]]-[[:space:]]Squeeze[[:space:]]720p.mp4 filter=lfs diff=lfs merge=lfs -text
packages/regain-app/public/video/TREE.mp4 filter=lfs diff=lfs merge=lfs -text
